* {
  box-sizing: border-box;
}
:root {
  --faded_black: #1c1816;
  --pink: rgb(255, 75, 165);
  --whiteish: rgb(252, 225, 247);
  --font: 'Quicksand';
  --neon_font: 'Dancing';
}
body {
  margin: 0;
  background-color: var(--faded_black);
  font-family: var(--font);
  color: var(--pink);
  font-size: 16px;
  height: 100vh;
}
@font-face {
  font-family: 'Quicksand';
  src: url(/fonts/Quicksand-Light.woff) format(woff);
  src: url(/fonts/Quicksand-Light.woff2) format(woff2);
}
@font-face {
  font-family: 'Dancing';
  src: url(/fonts/DancingScript-Regular.woff) format('woff');
  src: url(/fonts/DancingScript-Regular.woff2) format('woff2');
}

.first_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  position: relative;
}
h1 {
  font-weight: 300;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 10px;
  font-family: var(--neon_font);
}
.neon_text {
  color: var(--pink);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--pink),
    0 0 82px var(--pink), 0 0 92px var(--pink), 0 0 102px var(--pink),
    0 0 151px var(--pink);
}
.hero {
  visibility: visible;
  transition: 0.6s ease;
}
.hero img {
  width: 100%;
}
.spin-animation {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
}
h2 {
  font-weight: 300;
  text-align: center;
  transition: 0.6s ease;
}
.arrow {
  height: 3rem;
  display: flex;
  justify-content: center;
}
.where {
  margin: 0;
  transform: translateY(2rem);
}
p {
  width: fit-content;
  margin: 0;
}
.blink {
  animation: blinker 3s linear infinite;
}
.here {
  transform: translate(2rem, 15rem);
}
.or_here {
  transform: translate(3rem, 26rem);
}
.or_maybe_here {
  transform: translate(11rem, 17rem);
}
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.game-container div {
  width: 40%;
  height: 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.game-container img {
  max-width: 50%;
  max-height: 100%;
}
.game-container img:hover {
  cursor: pointer;
}
.fail {
  transform: translate(calc(35vw), calc(30vh));
  font-size: 3rem;
  transition: 0.5s ease-in;
  margin: 0;
  width: max-content;
  height: 10px;
}
.fail-animation {
  animation: fadein ease 0.5s;
}
.found-bamford {
  overflow: hidden;
  border: 1px solid transparent;
  transform: translateY(-35rem);
  z-index: -100;
  position: relative;
}
.bringtofront {
  position: relative;
}
.congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border: 1px solid transparent;
}
.congrats h2 {
  font-family: var(--neon_font);
  font-size: 2.5rem;
}
.congrats button {
  height: 2rem;
  font-family: var(--font);
  background-color: var(--whiteish);
  border: 2px solid;
  border-radius: 6px;
  color: var(--pink);
  font-weight: bold;
  margin-bottom: 1rem;
}
.congrats button:hover {
  cursor: pointer;
}
.star {
  position: absolute;
  z-index: -1;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}
.smallstar {
  position: absolute;
  animation-name: zoom-in-zoom-out;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.smallstar img {
  height: 14rem;
}
.found {
  width: 50%;
  animation-name: zoom-in-zoom-out;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
